# .env

SETTINGS_BASE_URL=http://localhost:3000
SETTINGS_ENVIRONMENT=local

BROWSER_TYPE=chromium
BROWSER_HEADLESS=true
BROWSER_WIDTH=1920
BROWSER_HEIGHT=1080
BROWSER_SLOW_MO=0

TIMEOUT_PAGE_LOAD=30000
TIMEOUT_ELEMENT_WAIT=10000
TIMEOUT_API_RESPONSE=5000

LOGGING_LEVEL=INFO
LOGGING_DIRECTORY=logs